| Hello mighty D2 admin! May the Force be with you!
br
br
| The company #{@company.name} (<a href="#{root_url(subdomain: @company.address)}">#{root_url(subdomain: @company.address)}</a>) just posted the project ##{@project.id} (<a href="#{project_url(@project)}">#{project_url(@project)}</a>).
br
| Please be so facile to check it out, and approve if it is an appropriate project for our powerful and mighty platform.
br
br
| Valas Morgulis.
