<!-- stripe -->
<div class="stripe-dotted">
  <% unless current_user %>
    <div class="bot">
      <div class="wrap">
        <!-- TODO -->
        <a href="/join_us" class="get_listed">APPAREL FACTORIES!! GET LISTED ON OUR VIRTUAL GARMENT DISTRICT FOR <i>FREE!</i></a>
      </div>
    </div>
  <% end %>
</div>
<!-- end of stripe -->
