<div class="c_body static">
  <div class="wrap">
    <div class='static-text'>
      <h3><%= @data.tit.html_safe %></h3>

      <div class='row txt'>
        <%= @data.text.html_safe %>
      </div>
    </div>
  </div>
</div>
