<div class="wrap">
  <div class="page-head">
    <header>
      <div class="wrap">
        <%= link_to image_tag('logo-beta.png', class: 'retina'), root_url, class: 'logo' %>
      </div>
    </header>
  </div>
  <div class="txt">
    <h1>Hey, Bro, its 404</h1>
    <h2><span>sorry, but there is nothing</span><br><span>to show you</span></h2>
  </div>
</div>
