section.main-section.main-about: header: .main-wrap
  = link_to 'About D2', about_path, class: 'section-btn'
  h3 Our mission is to make apparel production better, faster, & more cost effective.
  p We have combined our extensive apparel industry knowledge with modern day technology to streamline & improve sample making & production.
