section.main-section.main-bid: header: .main-wrap
  = link_to 'BID', new_user_session_path, class: 'section-btn'
  h3 Browse D2 projects & contact project makers by using our streamlined "build-a-bid" web app.
  p Give calculated estimates to brands & designers needing your services.
