section.main-section.main-post: header: .main-wrap
  = link_to 'POST', new_user_session_path, class: 'section-btn'
  h3 Got a fashion project?
  p Anyone from the indie-designer to the big corporate brand can use our platform to quickly & safely hire within the fashion industry ecosystem.
