section.main-section.main-search: header: .main-wrap
  = link_to 'SEARCH', new_user_session_path, class: 'section-btn'
  h3 Search our Global Virtual Garment District.
  p Use keywords to find exactly what you need wherever you need if from.
