<div class="c_body register success">
  <%= render '/shared/breadcrumbs' %>

  <div class="wrap">
    <h1>congratulations!</h1>
    <p class='sub_title'>Your company’s profile has been created! <br> We’ve sent a message on the email address that You’ve provided to prove your valid email address. 
    <br/>If you do not see our email, check your spam. Make sure to add us in your contacts to ensure you receive important messages from us.</p>
  </div>
</div>
