.tariff-indicator {
  float: left;
  margin: 5px 10px 0 0;

  span {
    color: white;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 10px;

    &:first-child { color: #fbfc5a; }

    &.expired {
      color: #fb4b46;
      cursor: pointer;
    }
  }

  .mainmenu & {
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    display: none;

    span {
      margin: 0 10px 0 0;
      height: auto;
      line-height: 1;
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .mainmenu & {
      display: block;
    }
  }
}
